<!DOCTYPE html>
<html id="HTML" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="AMIG is leading the future of aerospace medicine at the University of Virginia School of Medicine. Click to learn about the latest research and innovations in the field and what exciting events we have going on at UVA." />
        <meta name="keywords" content="UVA Med, Aerospace Medicine, University of Virginia School of Medicine, AMIG">
        <meta name="author" content="Charbel Antoine Marche" />
        <title>UVA Medicine | Aerospace Medicine Interest Group</title>
        <!--<meta property="og:image" content="enterpathtoimgforFBlinks" />-->
    </head>
    <body>
    {% block content %}{% endblock %}
    </body>
</html>

